In [52]:
import pandas as pd
data = pd.read_csv("dt.csv")
data.head()

,City,Vehicle Type,Weather,Economic Condition,Day Of Week,Hour Of Day,Speed,Is Peak Hour,Random Event Occurred,Energy Consumption,Traffic Density
0,New York,Car,Sunny,Stable,Monday,8,60,True,False,50,Medium
1,New York,Car,Sunny,Stable,Monday,12,55,True,False,48,High
2,New York,Bus,Rainy,Stable,Tuesday,16,40,False,False,60,High
3,Los Angeles,Car,Cloudy,Stable,Wednesday,10,65,False,False,45,Low
4,Los Angeles,Car,Sunny,Stable,Thursday,18,50,True,True,55,Medium

In [53]:
data.columns

Index(['City', 'Vehicle Type', 'Weather', 'Economic Condition', 'Day Of Week',
       'Hour Of Day', 'Speed', 'Is Peak Hour', 'Random Event Occurred',
       'Energy Consumption', 'Traffic Density'],
      dtype='object')

In [54]:
data.City

0        New York
1        New York
2        New York
3     Los Angeles
4     Los Angeles
5     Los Angeles
6         Chicago
7         Chicago
8         Chicago
9        New York
10       New York
11       New York
12    Los Angeles
13    Los Angeles
14    Los Angeles
15        Chicago
16        Chicago
17        Chicago
18       New York
19       New York
20       New York
21    Los Angeles
22    Los Angeles
23    Los Angeles
24        Chicago
25        Chicago
26        Chicago
27       New York
28       New York
29       New York
30    Los Angeles
31    Los Angeles
32    Los Angeles
33        Chicago
34        Chicago
35        Chicago
Name: City, dtype: object

In [55]:
data['Vehicle Type']

0       Car
1       Car
2       Bus
3       Car
4       Car
5     Truck
6       Car
7       Car
8       Bus
9       Car
10      Car
11      Bus
12      Car
13      Car
14    Truck
15      Car
16      Car
17      Bus
18      Car
19      Car
20      Bus
21      Car
22      Car
23    Truck
24      Car
25      Car
26      Bus
27      Car
28      Car
29      Bus
30      Car
31      Car
32    Truck
33      Car
34      Car
35      Bus
Name: Vehicle Type, dtype: object

In [56]:
data["Day Of Week"][0:11]

0        Monday
1        Monday
2       Tuesday
3     Wednesday
4      Thursday
5        Friday
6      Saturday
7        Sunday
8        Monday
9        Monday
10       Monday
Name: Day Of Week, dtype: object

In [57]:
#to select first row of dataframe
data.iloc[0]

City                     New York
Vehicle Type                  Car
Weather                     Sunny
Economic Condition         Stable
Day Of Week                Monday
Hour Of Day                     8
Speed                          60
Is Peak Hour                 True
Random Event Occurred       False
Energy Consumption             50
Traffic Density            Medium
Name: 0, dtype: object

In [58]:
#to select Any row of dataframe
data.iloc[3]

City                     Los Angeles
Vehicle Type                     Car
Weather                       Cloudy
Economic Condition            Stable
Day Of Week                Wednesday
Hour Of Day                       10
Speed                             65
Is Peak Hour                   False
Random Event Occurred          False
Energy Consumption                45
Traffic Density                  Low
Name: 3, dtype: object

In [59]:
#to get a column
data.iloc[:,0]

0        New York
1        New York
2        New York
3     Los Angeles
4     Los Angeles
5     Los Angeles
6         Chicago
7         Chicago
8         Chicago
9        New York
10       New York
11       New York
12    Los Angeles
13    Los Angeles
14    Los Angeles
15        Chicago
16        Chicago
17        Chicago
18       New York
19       New York
20       New York
21    Los Angeles
22    Los Angeles
23    Los Angeles
24        Chicago
25        Chicago
26        Chicago
27       New York
28       New York
29       New York
30    Los Angeles
31    Los Angeles
32    Los Angeles
33        Chicago
34        Chicago
35        Chicago
Name: City, dtype: object

In [60]:
data.iloc[:4,0]

0       New York
1       New York
2       New York
3    Los Angeles
Name: City, dtype: object

In [61]:
data.iloc[0:5,0:5]

          City Vehicle Type Weather Economic Condition Day Of Week
0     New York          Car   Sunny             Stable      Monday
1     New York          Car   Sunny             Stable      Monday
2     New York          Bus   Rainy             Stable     Tuesday
3  Los Angeles          Car  Cloudy             Stable   Wednesday
4  Los Angeles          Car   Sunny             Stable    Thursday

In [62]:
data.iloc[-1:]

,City,Vehicle Type,Weather,Economic Condition,Day Of Week,Hour Of Day,Speed,Is Peak Hour,Random Event Occurred,Energy Consumption,Traffic Density
35,Chicago,Bus,Cloudy,Growing,Monday,17,31,True,False,64,High

In [63]:
data.iloc[:-1]

,City,Vehicle Type,Weather,Economic Condition,Day Of Week,Hour Of Day,Speed,Is Peak Hour,Random Event Occurred,Energy Consumption,Traffic Density
0,New York,Car,Sunny,Stable,Monday,8,60,True,False,50,Medium
1,New York,Car,Sunny,Stable,Monday,12,55,True,False,48,High
2,New York,Bus,Rainy,Stable,Tuesday,16,40,False,False,60,High
3,Los Angeles,Car,Cloudy,Stable,Wednesday,10,65,False,False,45,Low
4,Los Angeles,Car,Sunny,Stable,Thursday,18,50,True,True,55,Medium
5,Los Angeles,Truck,Rainy,Declining,Friday,14,35,False,False,70,High
6,Chicago,Car,Snowy,Stable,Saturday,9,45,False,False,42,Medium
7,Chicago,Car,Sunny,Growing,Sunday,13,55,True,False,47,Low
8,Chicago,Bus,Cloudy,Growing,Monday,17,30,True,False,65,High
9,New York,Car,Sunny,Stable,Monday,8,58,True,False,52,Medium
10,New York,Car,Sunny,Stable,Monday,12,56,True,False,47,High
11,New York,Bus,Rainy,Stable,Tuesday,16,42,False,False,58,High
12,Los Angeles,Car,Cloudy,Stable,Wednesday,10,64,False,False,47,Low
13,Los Angeles,Car,Sunny,Stable,Thursday,18,52,True,True,53,Medium
14,Los Angeles,Truck,Rainy,Declining,Friday,14,38,False,False,68,High
15,Chicago,Car,Snowy,Stable,Saturday,9,43,False,False,40,Medium
16,Chicago,Car,Sunny,Growing,Sunday,13,54,True,False,49,Low
17,Chicago,Bus,Cloudy,Growing,Monday,17,32,True,False,63,High
18,New York,Car,Sunny,Stable,Monday,8,57,True,False,48,Medium
19,New York,Car,Sunny,Stable,Monday,12,54,True,False,46,High
20,New York,Bus,Rainy,Stable,Tuesday,16,38,False,False,56,High
21,Los Angeles,Car,Cloudy,Stable,Wednesday,10,63,False,False,44,Low
22,Los Angeles,Car,Sunny,Stable,Thursday,18,48,True,True,52,Medium
23,Los Angeles,Truck,Rainy,Declining,Friday,14,36,False,False,66,High
24,Chicago,Car,Snowy,Stable,Saturday,9,41,False,False,43,Medium
25,Chicago,Car,Sunny,Growing,Sunday,13,53,True,False,45,Low
26,Chicago,Bus,Cloudy,Growing,Monday,17,28,True,False,60,High
27,New York,Car,Sunny,Stable,Monday,8,59,True,False,49,Medium
28,New York,Car,Sunny,Stable,Monday,12,57,True,False,50,High
29,New York,Bus,Rainy,Stable,Tuesday,16,41,False,False,59,High
30,Los Angeles,Car,Cloudy,Stable,Wednesday,10,62,False,False,46,Low
31,Los Angeles,Car,Sunny,Stable,Thursday,18,49,True,True,51,Medium
32,Los Angeles,Truck,Rainy,Declining,Friday,14,37,False,False,69,High
33,Chicago,Car,Snowy,Stable,Saturday,9,44,False,False,41,Medium
34,Chicago,Car,Sunny,Growing,Sunday,13,52,True,False,48,Low

In [64]:
data.loc[4,'City']

'Los Angeles'

In [65]:
data.columns

Index(['City', 'Vehicle Type', 'Weather', 'Economic Condition', 'Day Of Week',
       'Hour Of Day', 'Speed', 'Is Peak Hour', 'Random Event Occurred',
       'Energy Consumption', 'Traffic Density'],
      dtype='object')

In [66]:
data.loc[0:5,['City', 'Vehicle Type', 'Weather', 'Economic Condition']]

          City Vehicle Type Weather Economic Condition
0     New York          Car   Sunny             Stable
1     New York          Car   Sunny             Stable
2     New York          Bus   Rainy             Stable
3  Los Angeles          Car  Cloudy             Stable
4  Los Angeles          Car   Sunny             Stable
5  Los Angeles        Truck   Rainy          Declining

In [68]:
data.City == 'Los Angeles'

0     False
1     False
2     False
3      True
4      True
5      True
6     False
7     False
8     False
9     False
10    False
11    False
12     True
13     True
14     True
15    False
16    False
17    False
18    False
19    False
20    False
21     True
22     True
23     True
24    False
25    False
26    False
27    False
28    False
29    False
30     True
31     True
32     True
33    False
34    False
35    False
Name: City, dtype: bool

In [69]:
data.loc[data.City == 'Los Angeles']

,City,Vehicle Type,Weather,Economic Condition,Day Of Week,Hour Of Day,Speed,Is Peak Hour,Random Event Occurred,Energy Consumption,Traffic Density
3,Los Angeles,Car,Cloudy,Stable,Wednesday,10,65,False,False,45,Low
4,Los Angeles,Car,Sunny,Stable,Thursday,18,50,True,True,55,Medium
5,Los Angeles,Truck,Rainy,Declining,Friday,14,35,False,False,70,High
12,Los Angeles,Car,Cloudy,Stable,Wednesday,10,64,False,False,47,Low
13,Los Angeles,Car,Sunny,Stable,Thursday,18,52,True,True,53,Medium
14,Los Angeles,Truck,Rainy,Declining,Friday,14,38,False,False,68,High
21,Los Angeles,Car,Cloudy,Stable,Wednesday,10,63,False,False,44,Low
22,Los Angeles,Car,Sunny,Stable,Thursday,18,48,True,True,52,Medium
23,Los Angeles,Truck,Rainy,Declining,Friday,14,36,False,False,66,High
30,Los Angeles,Car,Cloudy,Stable,Wednesday,10,62,False,False,46,Low
31,Los Angeles,Car,Sunny,Stable,Thursday,18,49,True,True,51,Medium
32,Los Angeles,Truck,Rainy,Declining,Friday,14,37,False,False,69,High

In [74]:
data.loc[(data.City == 'Los Angeles') | (data.Speed >= 70)]

,City,Vehicle Type,Weather,Economic Condition,Day Of Week,Hour Of Day,Speed,Is Peak Hour,Random Event Occurred,Energy Consumption,Traffic Density
3,Los Angeles,Car,Cloudy,Stable,Wednesday,10,65,False,False,45,Low
4,Los Angeles,Car,Sunny,Stable,Thursday,18,50,True,True,55,Medium
5,Los Angeles,Truck,Rainy,Declining,Friday,14,35,False,False,70,High
12,Los Angeles,Car,Cloudy,Stable,Wednesday,10,64,False,False,47,Low
13,Los Angeles,Car,Sunny,Stable,Thursday,18,52,True,True,53,Medium
14,Los Angeles,Truck,Rainy,Declining,Friday,14,38,False,False,68,High
21,Los Angeles,Car,Cloudy,Stable,Wednesday,10,63,False,False,44,Low
22,Los Angeles,Car,Sunny,Stable,Thursday,18,48,True,True,52,Medium
23,Los Angeles,Truck,Rainy,Declining,Friday,14,36,False,False,66,High
30,Los Angeles,Car,Cloudy,Stable,Wednesday,10,62,False,False,46,Low
31,Los Angeles,Car,Sunny,Stable,Thursday,18,49,True,True,51,Medium
32,Los Angeles,Truck,Rainy,Declining,Friday,14,37,False,False,69,High

In [76]:
data.loc[data.City.isin(['Los Angeles','New York'])]

,City,Vehicle Type,Weather,Economic Condition,Day Of Week,Hour Of Day,Speed,Is Peak Hour,Random Event Occurred,Energy Consumption,Traffic Density
0,New York,Car,Sunny,Stable,Monday,8,60,True,False,50,Medium
1,New York,Car,Sunny,Stable,Monday,12,55,True,False,48,High
2,New York,Bus,Rainy,Stable,Tuesday,16,40,False,False,60,High
3,Los Angeles,Car,Cloudy,Stable,Wednesday,10,65,False,False,45,Low
4,Los Angeles,Car,Sunny,Stable,Thursday,18,50,True,True,55,Medium
5,Los Angeles,Truck,Rainy,Declining,Friday,14,35,False,False,70,High
9,New York,Car,Sunny,Stable,Monday,8,58,True,False,52,Medium
10,New York,Car,Sunny,Stable,Monday,12,56,True,False,47,High
11,New York,Bus,Rainy,Stable,Tuesday,16,42,False,False,58,High
12,Los Angeles,Car,Cloudy,Stable,Wednesday,10,64,False,False,47,Low
13,Los Angeles,Car,Sunny,Stable,Thursday,18,52,True,True,53,Medium
14,Los Angeles,Truck,Rainy,Declining,Friday,14,38,False,False,68,High
18,New York,Car,Sunny,Stable,Monday,8,57,True,False,48,Medium
19,New York,Car,Sunny,Stable,Monday,12,54,True,False,46,High
20,New York,Bus,Rainy,Stable,Tuesday,16,38,False,False,56,High
21,Los Angeles,Car,Cloudy,Stable,Wednesday,10,63,False,False,44,Low
22,Los Angeles,Car,Sunny,Stable,Thursday,18,48,True,True,52,Medium
23,Los Angeles,Truck,Rainy,Declining,Friday,14,36,False,False,66,High
27,New York,Car,Sunny,Stable,Monday,8,59,True,False,49,Medium
28,New York,Car,Sunny,Stable,Monday,12,57,True,False,50,High
29,New York,Bus,Rainy,Stable,Tuesday,16,41,False,False,59,High
30,Los Angeles,Car,Cloudy,Stable,Wednesday,10,62,False,False,46,Low
31,Los Angeles,Car,Sunny,Stable,Thursday,18,49,True,True,51,Medium
32,Los Angeles,Truck,Rainy,Declining,Friday,14,37,False,False,69,High

In [79]:
data['City']= 'Boston'
data['City']

0     Boston
1     Boston
2     Boston
3     Boston
4     Boston
5     Boston
6     Boston
7     Boston
8     Boston
9     Boston
10    Boston
11    Boston
12    Boston
13    Boston
14    Boston
15    Boston
16    Boston
17    Boston
18    Boston
19    Boston
20    Boston
21    Boston
22    Boston
23    Boston
24    Boston
25    Boston
26    Boston
27    Boston
28    Boston
29    Boston
30    Boston
31    Boston
32    Boston
33    Boston
34    Boston
35    Boston
Name: City, dtype: object