In [56]:
import pandas as pd
data = pd.read_csv('dt.csv')
data.head()

,City,Vehicle Type,Weather,Economic Condition,Day Of Week,Hour Of Day,Speed,Is Peak Hour,Random Event Occurred,Energy Consumption,Traffic Density
0,New York,Car,Sunny,Stable,Monday,8,60,True,False,50,Medium
1,New York,Car,Sunny,Stable,Monday,12,55,True,False,48,High
2,New York,Bus,Rainy,Stable,Tuesday,16,40,False,False,60,High
3,Los Angeles,Car,Cloudy,Stable,Wednesday,10,65,False,False,45,Low
4,Los Angeles,Car,Sunny,Stable,Thursday,18,50,True,True,55,Medium

In [57]:
data["Vehicle Type"].describe()

count      36
unique      3
top       Car
freq       24
Name: Vehicle Type, dtype: object

In [58]:
data.City.describe()

count           36
unique           3
top       New York
freq            12
Name: City, dtype: object

In [59]:
data.Speed.mean()

np.float64(47.888888888888886)

In [60]:
data["Day Of Week"].unique()

array(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday',
       'Sunday'], dtype=object)

In [61]:
#data.City.value_counts()
data['Day Of Week'].value_counts()

Day Of Week
Monday       12
Tuesday       4
Wednesday     4
Thursday      4
Friday        4
Saturday      4
Sunday        4
Name: count, dtype: int64

In [62]:
a = data.Speed.mean()
data.Speed.map(lambda x: x - a)

0     12.111111
1      7.111111
2     -7.888889
3     17.111111
4      2.111111
5    -12.888889
6     -2.888889
7      7.111111
8    -17.888889
9     10.111111
10     8.111111
11    -5.888889
12    16.111111
13     4.111111
14    -9.888889
15    -4.888889
16     6.111111
17   -15.888889
18     9.111111
19     6.111111
20    -9.888889
21    15.111111
22     0.111111
23   -11.888889
24    -6.888889
25     5.111111
26   -19.888889
27    11.111111
28     9.111111
29    -6.888889
30    14.111111
31     1.111111
32   -10.888889
33    -3.888889
34     4.111111
35   -16.888889
Name: Speed, dtype: float64

In [63]:
def replace_speed(x):
    x.Speed = x.Speed - a
    return x
data.apply(replace_speed,axis = 'columns')

,City,Vehicle Type,Weather,Economic Condition,Day Of Week,Hour Of Day,Speed,Is Peak Hour,Random Event Occurred,Energy Consumption,Traffic Density
0,New York,Car,Sunny,Stable,Monday,8,12.111111,True,False,50,Medium
1,New York,Car,Sunny,Stable,Monday,12,7.111111,True,False,48,High
2,New York,Bus,Rainy,Stable,Tuesday,16,-7.888889,False,False,60,High
3,Los Angeles,Car,Cloudy,Stable,Wednesday,10,17.111111,False,False,45,Low
4,Los Angeles,Car,Sunny,Stable,Thursday,18,2.111111,True,True,55,Medium
5,Los Angeles,Truck,Rainy,Declining,Friday,14,-12.888889,False,False,70,High
6,Chicago,Car,Snowy,Stable,Saturday,9,-2.888889,False,False,42,Medium
7,Chicago,Car,Sunny,Growing,Sunday,13,7.111111,True,False,47,Low
8,Chicago,Bus,Cloudy,Growing,Monday,17,-17.888889,True,False,65,High
9,New York,Car,Sunny,Stable,Monday,8,10.111111,True,False,52,Medium
10,New York,Car,Sunny,Stable,Monday,12,8.111111,True,False,47,High
11,New York,Bus,Rainy,Stable,Tuesday,16,-5.888889,False,False,58,High
12,Los Angeles,Car,Cloudy,Stable,Wednesday,10,16.111111,False,False,47,Low
13,Los Angeles,Car,Sunny,Stable,Thursday,18,4.111111,True,True,53,Medium
14,Los Angeles,Truck,Rainy,Declining,Friday,14,-9.888889,False,False,68,High
15,Chicago,Car,Snowy,Stable,Saturday,9,-4.888889,False,False,40,Medium
16,Chicago,Car,Sunny,Growing,Sunday,13,6.111111,True,False,49,Low
17,Chicago,Bus,Cloudy,Growing,Monday,17,-15.888889,True,False,63,High
18,New York,Car,Sunny,Stable,Monday,8,9.111111,True,False,48,Medium
19,New York,Car,Sunny,Stable,Monday,12,6.111111,True,False,46,High
20,New York,Bus,Rainy,Stable,Tuesday,16,-9.888889,False,False,56,High
21,Los Angeles,Car,Cloudy,Stable,Wednesday,10,15.111111,False,False,44,Low
22,Los Angeles,Car,Sunny,Stable,Thursday,18,0.111111,True,True,52,Medium
23,Los Angeles,Truck,Rainy,Declining,Friday,14,-11.888889,False,False,66,High
24,Chicago,Car,Snowy,Stable,Saturday,9,-6.888889,False,False,43,Medium
25,Chicago,Car,Sunny,Growing,Sunday,13,5.111111,True,False,45,Low
26,Chicago,Bus,Cloudy,Growing,Monday,17,-19.888889,True,False,60,High
27,New York,Car,Sunny,Stable,Monday,8,11.111111,True,False,49,Medium
28,New York,Car,Sunny,Stable,Monday,12,9.111111,True,False,50,High
29,New York,Bus,Rainy,Stable,Tuesday,16,-6.888889,False,False,59,High
30,Los Angeles,Car,Cloudy,Stable,Wednesday,10,14.111111,False,False,46,Low
31,Los Angeles,Car,Sunny,Stable,Thursday,18,1.111111,True,True,51,Medium
32,Los Angeles,Truck,Rainy,Declining,Friday,14,-10.888889,False,False,69,High
33,Chicago,Car,Snowy,Stable,Saturday,9,-3.888889,False,False,41,Medium
34,Chicago,Car,Sunny,Growing,Sunday,13,4.111111,True,False,48,Low
35,Chicago,Bus,Cloudy,Growing,Monday,17,-16.888889,True,False,64,High

In [64]:
data.head()

,City,Vehicle Type,Weather,Economic Condition,Day Of Week,Hour Of Day,Speed,Is Peak Hour,Random Event Occurred,Energy Consumption,Traffic Density
0,New York,Car,Sunny,Stable,Monday,8,60,True,False,50,Medium
1,New York,Car,Sunny,Stable,Monday,12,55,True,False,48,High
2,New York,Bus,Rainy,Stable,Tuesday,16,40,False,False,60,High
3,Los Angeles,Car,Cloudy,Stable,Wednesday,10,65,False,False,45,Low
4,Los Angeles,Car,Sunny,Stable,Thursday,18,50,True,True,55,Medium

In [65]:
data.City + " : " + data["Vehicle Type"]

0          New York : Car
1          New York : Car
2          New York : Bus
3       Los Angeles : Car
4       Los Angeles : Car
5     Los Angeles : Truck
6           Chicago : Car
7           Chicago : Car
8           Chicago : Bus
9          New York : Car
10         New York : Car
11         New York : Bus
12      Los Angeles : Car
13      Los Angeles : Car
14    Los Angeles : Truck
15          Chicago : Car
16          Chicago : Car
17          Chicago : Bus
18         New York : Car
19         New York : Car
20         New York : Bus
21      Los Angeles : Car
22      Los Angeles : Car
23    Los Angeles : Truck
24          Chicago : Car
25          Chicago : Car
26          Chicago : Bus
27         New York : Car
28         New York : Car
29         New York : Bus
30      Los Angeles : Car
31      Los Angeles : Car
32    Los Angeles : Truck
33          Chicago : Car
34          Chicago : Car
35          Chicago : Bus
dtype: object

Grouping and Sorting

In [66]:
data.groupby("City").City.count()

City
Chicago        12
Los Angeles    12
New York       12
Name: City, dtype: int64

In [67]:
data.groupby("City").Speed.mean()

City
Chicago        42.333333
Los Angeles    49.916667
New York       51.416667
Name: Speed, dtype: float64

In [68]:
data.groupby("City")["Energy Consumption"].min()

City
Chicago        40
Los Angeles    44
New York       46
Name: Energy Consumption, dtype: int64

In [69]:
data.groupby("City")["Energy Consumption"].max()

City
Chicago        65
Los Angeles    70
New York       60
Name: Energy Consumption, dtype: int64

In [70]:
data.groupby(["City", "Speed"]).apply(lambda df:df.loc[df['Energy Consumption'].idxmax()])

C:\Users\ACER\AppData\Local\Temp\ipykernel_1900\3600191724.py:1: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  data.groupby(["City", "Speed"]).apply(lambda df:df.loc[df['Energy Consumption'].idxmax()])

                          City Vehicle Type Weather Economic Condition  \
City        Speed
Chicago     28         Chicago          Bus  Cloudy            Growing
            30         Chicago          Bus  Cloudy            Growing
            31         Chicago          Bus  Cloudy            Growing
            32         Chicago          Bus  Cloudy            Growing
            41         Chicago          Car   Snowy             Stable
            43         Chicago          Car   Snowy             Stable
            44         Chicago          Car   Snowy             Stable
            45         Chicago          Car   Snowy             Stable
            52         Chicago          Car   Sunny            Growing
            53         Chicago          Car   Sunny            Growing
            54         Chicago          Car   Sunny            Growing
            55         Chicago          Car   Sunny            Growing
Los Angeles 35     Los Angeles        Truck   Rainy          Declining
            36     Los Angeles        Truck   Rainy          Declining
            37     Los Angeles        Truck   Rainy          Declining
            38     Los Angeles        Truck   Rainy          Declining
            48     Los Angeles          Car   Sunny             Stable
            49     Los Angeles          Car   Sunny             Stable
            50     Los Angeles          Car   Sunny             Stable
            52     Los Angeles          Car   Sunny             Stable
            62     Los Angeles          Car  Cloudy             Stable
            63     Los Angeles          Car  Cloudy             Stable
            64     Los Angeles          Car  Cloudy             Stable
            65     Los Angeles          Car  Cloudy             Stable
New York    38        New York          Bus   Rainy             Stable
            40        New York          Bus   Rainy             Stable
            41        New York          Bus   Rainy             Stable
            42        New York          Bus   Rainy             Stable
            54        New York          Car   Sunny             Stable
            55        New York          Car   Sunny             Stable
            56        New York          Car   Sunny             Stable
            57        New York          Car   Sunny             Stable
            58        New York          Car   Sunny             Stable
            59        New York          Car   Sunny             Stable
            60        New York          Car   Sunny             Stable

                  Day Of Week  Hour Of Day  Speed  Is Peak Hour  \
City        Speed
Chicago     28         Monday           17     28          True
            30         Monday           17     30          True
            31         Monday           17     31          True
            32         Monday           17     32          True
            41       Saturday            9     41         False
            43       Saturday            9     43         False
            44       Saturday            9     44         False
            45       Saturday            9     45         False
            52         Sunday           13     52          True
            53         Sunday           13     53          True
            54         Sunday           13     54          True
            55         Sunday           13     55          True
Los Angeles 35         Friday           14     35         False
            36         Friday           14     36         False
            37         Friday           14     37         False
            38         Friday           14     38         False
            48       Thursday           18     48          True
            49       Thursday           18     49          True
            50       Thursday           18     50          True
            52       Thursday           18     52          True
            62      Wednesday           10     62         False
            63      Wednesday           10     63         False
            64      Wednesday           10     64         False
            65      Wednesday           10     65         False
New York    38        Tuesday           16     38         False
            40        Tuesday           16     40         False
            41        Tuesday           16     41         False
            42        Tuesday           16     42         False
            54         Monday           12     54          True
            55         Monday           12     55          True
            56         Monday           12     56          True
            57         Monday           12     57          True
            58         Monday            8     58          True
            59         Monday            8     59          True
            60         Monday            8     60          True

                   Random Event Occurred  Energy Consumption Traffic Density
City        Speed
Chicago     28                     False                  60            High
            30                     False                  65            High
            31                     False                  64            High
            32                     False                  63            High
            41                     False                  43          Medium
            43                     False                  40          Medium
            44                     False                  41          Medium
            45                     False                  42          Medium
            52                     False                  48             Low
            53                     False                  45             Low
            54                     False                  49             Low
            55                     False                  47             Low
Los Angeles 35                     False                  70            High
            36                     False                  66            High
            37                     False                  69            High
            38                     False                  68            High
            48                      True                  52          Medium
            49                      True                  51          Medium
            50                      True                  55          Medium
            52                      True                  53          Medium
            62                     False                  46             Low
            63                     False                  44             Low
            64                     False                  47             Low
            65                     False                  45             Low
New York    38                     False                  56            High
            40                     False                  60            High
            41                     False                  59            High
            42                     False                  58            High
            54                     False                  46            High
            55                     False                  48            High
            56                     False                  47            High
            57                     False                  50            High
            58                     False                  52          Medium
            59                     False                  49          Medium
            60                     False                  50          Medium

In [71]:
data.head()

,City,Vehicle Type,Weather,Economic Condition,Day Of Week,Hour Of Day,Speed,Is Peak Hour,Random Event Occurred,Energy Consumption,Traffic Density
0,New York,Car,Sunny,Stable,Monday,8,60,True,False,50,Medium
1,New York,Car,Sunny,Stable,Monday,12,55,True,False,48,High
2,New York,Bus,Rainy,Stable,Tuesday,16,40,False,False,60,High
3,Los Angeles,Car,Cloudy,Stable,Wednesday,10,65,False,False,45,Low
4,Los Angeles,Car,Sunny,Stable,Thursday,18,50,True,True,55,Medium

In [72]:
data.groupby("City").Speed.agg(['min','max','mean','std'])

             min  max       mean        std
City
Chicago       28   55  42.333333  10.039317
Los Angeles   35   65  49.916667  11.587284
New York      38   60  51.416667   8.447252

In [73]:
data.groupby("City")["Energy Consumption"].agg(['min','max','mean','std'])

             min  max       mean        std
City
Chicago       40   65  50.583333   9.624385
Los Angeles   44   70  55.500000  10.013627
New York      46   60  51.916667   4.999242

In [74]:
a = data.groupby(["City", "Hour Of Day"])["Speed"].agg(['min','max','mean','std'])
a

                         min  max   mean       std
City        Hour Of Day
Chicago     9             41   45  43.25  1.707825
            13            52   55  53.50  1.290994
            17            28   32  30.25  1.707825
Los Angeles 10            62   65  63.50  1.290994
            14            35   38  36.50  1.290994
            18            48   52  49.75  1.707825
New York    8             57   60  58.50  1.290994
            12            54   57  55.50  1.290994
            16            38   42  40.25  1.707825

In [75]:
b = a.index
type(b)

pandas.core.indexes.multi.MultiIndex

In [76]:
b = a.reset_index()
b

          City  Hour Of Day  min  max   mean       std
0      Chicago            9   41   45  43.25  1.707825
1      Chicago           13   52   55  53.50  1.290994
2      Chicago           17   28   32  30.25  1.707825
3  Los Angeles           10   62   65  63.50  1.290994
4  Los Angeles           14   35   38  36.50  1.290994
5  Los Angeles           18   48   52  49.75  1.707825
6     New York            8   57   60  58.50  1.290994
7     New York           12   54   57  55.50  1.290994
8     New York           16   38   42  40.25  1.707825

In [77]:
b.sort_values(by='mean')

          City  Hour Of Day  min  max   mean       std
2      Chicago           17   28   32  30.25  1.707825
4  Los Angeles           14   35   38  36.50  1.290994
8     New York           16   38   42  40.25  1.707825
0      Chicago            9   41   45  43.25  1.707825
5  Los Angeles           18   48   52  49.75  1.707825
1      Chicago           13   52   55  53.50  1.290994
7     New York           12   54   57  55.50  1.290994
6     New York            8   57   60  58.50  1.290994
3  Los Angeles           10   62   65  63.50  1.290994

In [87]:
b.sort_values(by = 'mean', ascending=False)

          City  Hour Of Day  min  max   mean       std
3  Los Angeles           10   62   65  63.50  1.290994
6     New York            8   57   60  58.50  1.290994
7     New York           12   54   57  55.50  1.290994
1      Chicago           13   52   55  53.50  1.290994
5  Los Angeles           18   48   52  49.75  1.707825
0      Chicago            9   41   45  43.25  1.707825
8     New York           16   38   42  40.25  1.707825
4  Los Angeles           14   35   38  36.50  1.290994
2      Chicago           17   28   32  30.25  1.707825

In [88]:
b.sort_index()

          City  Hour Of Day  min  max   mean       std
0      Chicago            9   41   45  43.25  1.707825
1      Chicago           13   52   55  53.50  1.290994
2      Chicago           17   28   32  30.25  1.707825
3  Los Angeles           10   62   65  63.50  1.290994
4  Los Angeles           14   35   38  36.50  1.290994
5  Los Angeles           18   48   52  49.75  1.707825
6     New York            8   57   60  58.50  1.290994
7     New York           12   54   57  55.50  1.290994
8     New York           16   38   42  40.25  1.707825

In [90]:
b.sort_values(by=['City','mean'])

          City  Hour Of Day  min  max   mean       std
2      Chicago           17   28   32  30.25  1.707825
0      Chicago            9   41   45  43.25  1.707825
1      Chicago           13   52   55  53.50  1.290994
4  Los Angeles           14   35   38  36.50  1.290994
5  Los Angeles           18   48   52  49.75  1.707825
3  Los Angeles           10   62   65  63.50  1.290994
8     New York           16   38   42  40.25  1.707825
7     New York           12   54   57  55.50  1.290994
6     New York            8   57   60  58.50  1.290994

In [94]:
data.head()

,City,Vehicle Type,Weather,Economic Condition,Day Of Week,Hour Of Day,Speed,Is Peak Hour,Random Event Occurred,Energy Consumption,Traffic Density
0,New York,Car,Sunny,Stable,Monday,8,60,True,False,50,Medium
1,New York,Car,Sunny,Stable,Monday,12,55,True,False,48,High
2,New York,Bus,Rainy,Stable,Tuesday,16,40,False,False,60,High
3,Los Angeles,Car,Cloudy,Stable,Wednesday,10,65,False,False,45,Low
4,Los Angeles,Car,Sunny,Stable,Thursday,18,50,True,True,55,Medium

In [93]:
a = data.Speed
a.sort_values()

26    28
8     30
35    31
17    32
5     35
23    36
32    37
20    38
14    38
2     40
29    41
24    41
11    42
15    43
33    44
6     45
22    48
31    49
4     50
13    52
34    52
25    53
19    54
16    54
1     55
7     55
10    56
18    57
28    57
9     58
27    59
0     60
30    62
21    63
12    64
3     65
Name: Speed, dtype: int64

In [95]:
d = data["Energy Consumption"]
d.sort_values()

15    40
33    41
6     42
24    43
21    44
3     45
25    45
19    46
30    46
10    47
7     47
12    47
1     48
18    48
34    48
27    49
16    49
0     50
28    50
31    51
22    52
9     52
13    53
4     55
20    56
11    58
29    59
26    60
2     60
17    63
35    64
8     65
23    66
14    68
32    69
5     70
Name: Energy Consumption, dtype: int64

In [96]:
d = data["Day Of Week"]
d.sort_values()

32       Friday
5        Friday
23       Friday
14       Friday
0        Monday
28       Monday
27       Monday
26       Monday
19       Monday
18       Monday
17       Monday
35       Monday
1        Monday
9        Monday
10       Monday
8        Monday
33     Saturday
24     Saturday
6      Saturday
15     Saturday
7        Sunday
16       Sunday
25       Sunday
34       Sunday
13     Thursday
31     Thursday
22     Thursday
4      Thursday
29      Tuesday
11      Tuesday
20      Tuesday
2       Tuesday
30    Wednesday
21    Wednesday
12    Wednesday
3     Wednesday
Name: Day Of Week, dtype: object