In [10]:
pip install pandas

Requirement already satisfied: pandas in c:\users\acer\appdata\local\programs\python\python313\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\acer\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\acer\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\acer\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\acer\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\acer\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [11]:
import pandas as pd
#DataFrame
pd.DataFrame({'yes':[50,20],'no':[10,100]})

   yes   no
0   50   10
1   20  100

In [12]:
#DataFrame whose values are strings:
pd.DataFrame({'Bob':["I Liked it...", "It was awful."], "Sue": ["pretty good.", "Bland"]})

             Bob           Sue
0  I Liked it...  pretty good.
1  It was awful.         Bland

In [19]:
#Assigning index labels:
pd.DataFrame({'Bob':["I Liked it...", "It was awful."],"Sue": ["pretty good.", "Bland"]},index=["A","B"])

             Bob           Sue
A  I Liked it...  pretty good.
B  It was awful.         Bland

In [17]:
#series
pd.Series([1,2,3,4,5,6])

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [20]:
#series with index
pd.Series([1,2,3,4],index = ['2015 Sales','2016 Sales','2017 Sales','2018 Sales'])

2015 Sales    1
2016 Sales    2
2017 Sales    3
2018 Sales    4
dtype: int64

In [37]:
#Reading data files
data = pd.read_csv("file1.csv",index_col= 0)
#shape of data
data.shape

(15, 18)

In [38]:
#first five rows of data
data.head()

,b,c,d,d.1,e,f,g,h,i,j,k,l,m,n,o,p,q,Unnamed: 18
a,,,,,,,,,,,,,,,,,,
1,13,21,11,196,75,4,3,34,6,7,8,0,1,2,3,4,5,NaN
3,42,12,33,766,75,4,55,6,4,3,4,5,6,7,0,11,12,NaN
1,22,33,11,999,11,2,1,78,0,1,2,9,8,7,1,76,88,NaN
1,13,21,11,196,75,4,3,34,6,7,8,0,1,2,3,4,5,NaN
3,42,12,33,766,75,4,55,6,4,3,4,5,6,7,0,11,12,NaN

In [34]:
data.columns

Index(['a', ' b', ' c', ' d', ' d.1', ' e', ' f', ' g', ' h', ' i', ' j', ' k',
       ' l', ' m', ' n', ' o', ' p', ' q', 'Unnamed: 18'],
      dtype='object')

AttributeError: 'DataFrame' object has no attribute 'b'