In [92]:
pip install pandas

Requirement already satisfied: pandas in c:\users\acer\appdata\local\programs\python\python313\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\acer\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\acer\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\acer\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\acer\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\acer\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [93]:
import pandas as pd
#DataFrame
pd.DataFrame({'yes':[50,20],'no':[10,100]})

   yes   no
0   50   10
1   20  100

In [94]:
#DataFrame whose values are strings:
pd.DataFrame({'Bob':["I Liked it...", "It was awful."], "Sue": ["pretty good.", "Bland"]})

             Bob           Sue
0  I Liked it...  pretty good.
1  It was awful.         Bland

In [95]:
#Assigning index labels:
pd.DataFrame({'Bob':["I Liked it...", "It was awful."],"Sue": ["pretty good.", "Bland"]},index=["A","B"])

             Bob           Sue
A  I Liked it...  pretty good.
B  It was awful.         Bland

In [96]:
#series
pd.Series([1,2,3,4,5,6])

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [97]:
#series with index
pd.Series([1,2,3,4],index = ['2015 Sales','2016 Sales','2017 Sales','2018 Sales'])

2015 Sales    1
2016 Sales    2
2017 Sales    3
2018 Sales    4
dtype: int64

In [98]:
#Reading data files
data = pd.read_csv("dt.csv",index_col = 0)
#shape of data
data.shape

(36, 10)

In [99]:
#first five rows of data
data.head()

,Vehicle Type,Weather,Economic Condition,Day Of Week,Hour Of Day,Speed,Is Peak Hour,Random Event Occurred,Energy Consumption,Traffic Density
City,,,,,,,,,,
New York,Car,Sunny,Stable,Monday,8,60,True,False,50,Medium
New York,Car,Sunny,Stable,Monday,12,55,True,False,48,High
New York,Bus,Rainy,Stable,Tuesday,16,40,False,False,60,High
Los Angeles,Car,Cloudy,Stable,Wednesday,10,65,False,False,45,Low
Los Angeles,Car,Sunny,Stable,Thursday,18,50,True,True,55,Medium

In [100]:
data.columns

Index(['Vehicle Type', 'Weather', 'Economic Condition', 'Day Of Week',
       'Hour Of Day', 'Speed', 'Is Peak Hour', 'Random Event Occurred',
       'Energy Consumption', 'Traffic Density'],
      dtype='object')

In [101]:
data.Weather

City
New York        Sunny
New York        Sunny
New York        Rainy
Los Angeles    Cloudy
Los Angeles     Sunny
Los Angeles     Rainy
Chicago         Snowy
Chicago         Sunny
Chicago        Cloudy
New York        Sunny
New York        Sunny
New York        Rainy
Los Angeles    Cloudy
Los Angeles     Sunny
Los Angeles     Rainy
Chicago         Snowy
Chicago         Sunny
Chicago        Cloudy
New York        Sunny
New York        Sunny
New York        Rainy
Los Angeles    Cloudy
Los Angeles     Sunny
Los Angeles     Rainy
Chicago         Snowy
Chicago         Sunny
Chicago        Cloudy
New York        Sunny
New York        Sunny
New York        Rainy
Los Angeles    Cloudy
Los Angeles     Sunny
Los Angeles     Rainy
Chicago         Snowy
Chicago         Sunny
Chicago        Cloudy
Name: Weather, dtype: object